@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Ahorcado - G6</h1>
    </section>

    <div class="row">
    </div>
</main>